body {
 
  color: rgb(255, 255, 255);
  height: 150vh;
  
}
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff56;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #231a9b56;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 100px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 2rem;
}
.nav a {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  height: 2.5rem;
  width: 6.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
  text-decoration: none;
  border: 2px solid rgba(46, 25, 121, 0.313);
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.751);
  background: var(
    --gradient-2,
    linear-gradient(90deg, rgb(22, 15, 39) 0%, rgb(49, 30, 21) 90%)
  );
  margin-top: 1rem;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 5px 10px rgb(57, 57, 56);
}



.boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  overflow: auto;
  margin:3rem 3rem  0; padding: 1rem;
  border-radius: 1rem;
}
.box{
  font-size: 2rem;
  height: 20rem;
  width: 37rem;
  border-radius: 1rem;
  border: 1px solid rgb(162, 52, 52);
  box-shadow: 2px 5px 10px rgb(127, 78, 29);
  margin-bottom: 2rem;

}
li {
  margin: 2.5rem;
}



.navigation{
  display: flex;
  flex-direction: row;
}
body{
  overflow: auto;
}

.searchBox {
  display: flex;
  height: 5rem;
  max-width: 22rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #2f353d;
  border-radius: 50px;
  position: relative;
  padding: 0;
  margin: 1rem 0 0 23rem;
}

.searchButton {
  color: white;
  position: absolute;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.Refresh {
  margin-left: 5rem;
  width: 6rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid white;
  font-weight: 600;
  color: azure;
}
button {
  background: var(--gradient-2, linear-gradient(to right, yellow, #fd0000));
  font-weight: 600;
  font-size: 1.1rem;
}
.searchBox button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
.input{
   margin-right: 25rem; 
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.searchInput {
  border: none;
  background: none;

  outline: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
