* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 100px;
}
body {
  overflow: auto;
  height: 173vh;
  overflow-x: hidden;
}
body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.img img {
  height: 10.5rem;
  width: 13rem;
}

a {
  text-decoration: none;
  color: rgb(242, 233, 233);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 2rem;
}
.navigation a {
  text-align: center;
  margin: 0.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2.5rem;
  width: 6.3rem;
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  /* border: 2px solid rgba(46, 25, 121, 0.313); */
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.751);
  /* background: var(
    --gradient-2,
    linear-gradient(90deg, rgb(22, 15, 39) 0%, rgb(49, 30, 21) 90%)
  ); */
  margin-top: 1rem;
}
a:hover {
  opacity: 1;
  box-shadow: rgba(185, 51, 51, 0.5) 2px 5px 10px;
  color: rgb(82, 145, 232);
  transform: translateY(-3px);
}
li {
  margin: 1.3rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.card1 {
  margin-bottom: 2rem;
}
.card {
  border-radius: 1rem;
  border: 1px solid rgb(162, 52, 52);
  box-shadow: 2px 5px 10px rgb(127, 78, 29);
  height: 25rem;
  width: 40rem;
  overflow: auto;
  margin-top: 2rem;
}

.card5 {
  margin-top: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}

select {
  color: rgb(234, 146, 146);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  width: 20rem;
  height: 0rem;
  border: 2px solid rgba(209, 99, 99, 0.527);
  background-color: rgba(234, 200, 178, 0.744);
  border-radius: 1rem;
  box-shadow: 3px 5px 15px rgb(7, 6, 7);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 5px 10px rgb(57, 57, 56);
}

.searchButton {
  color: white;

  width: 4.8rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.refresh {
  width: 4.9rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid white;
  font-weight: 600;
  color: azure;
}
button {
  background: var(--gradient-2, linear-gradient(to right, yellow, #fd0000));
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: .5rem;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navigation {
  display: flex;
}
.navbar-nav {
  position: absolute;
  right: 0;
}
a {
  color: white !important;
}
* {
  color: white;
}

.custom-select {
  display: flex;
  height: 3.75rem;
  max-width: 17rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #f3782bcb;
  border-radius: 50px;
  position: relative;
  padding: 0;
  color: white;
}
.card {
  background-color: inherit;
}
.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

/* Custom styles for the select arrow */
select.custom-select {
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Add custom arrow */
  background-image: url("Assets/down-chevron-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px; /* Adjust size as needed */
  padding-right: 30px; /* Adjust padding to make room for the arrow */
}

@media (max-width: 480px) {
  .img img {
    height: 7rem;
    width: 7rem;
  }

  .nav a {
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    align-self: center;
    height: 2.8rem;
    text-align: center;
    margin-top: 1.5rem;
  }
  .custom-select {
    width: 12rem;
  }

  
  li {
    margin: 2rem 1rem;
    font-size: 1.2rem;
  }
  .input {
    margin-top: 5rem;
    margin-left: 0.5rem;
  }
  .refresh {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 0.5rem;
    text-align: center;
  }
  .searchBox {
    margin-top: 7rem;
    width: 25rem;
    margin-left: 0;
  }

  .searchButton {
    width: 4.5rem;
    height: 4.5rem;
  }
  body {
    height: 300vh;
  }
  .navigation {
    margin-top: 3rem;
  }
  button {
    margin-left: 0.5rem;
  }
  .custom-select{
    font-size: 1.35rem;
    font-weight: 500;
    margin-left: -4rem;
  }

  .navigation a{
    height: 2rem;
    width: 6rem;
   margin-top:2rem;
  }
}
a {
  font-size: 1rem;
}
.searchBox button{
  height: 3.75rem;
  width: 3.75rem;
}

.navbar-toggler{
  border-radius: 50px;
  border: none;
}