@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: rgb(224, 202, 202) !important;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 4rem;
  background-: inherit;
}

.nav a {
  margin: 0.5rem;
  font-size: 2rem;
  opacity: 0.5;
}
a:hover {
  opacity: 1;
  filter: drop-shadow(0 5px 10px rgb(215, 110, 110));
  transform: translateY(-3px);
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 20px;
  transform: translateY(-3px);
}
button:active {
  box-shadow: none;
  transform: translateY(0);
}
button {
  cursor: pointer;
}
.searchBox {
  display: flex;
  height: 5rem;
  max-width: 20rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #2f353d;
  border-radius: 50px;
  position: relative;
  padding: 0;
  margin: 1rem 0 0 23rem;
}

.searchButton {
  color: white;
  position: absolute;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.Refresh {
  margin-left: 2rem;
  width: 5rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid white;
  font-weight: 600;
  color: azure;
  aspect-ratio: 1;
}
.navbar {
  padding: 1rem; /* Adjust padding as needed */
}
.nav button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  color: #2f353d;
}
button {
  background: var(--gradient-2, linear-gradient(to right, yellow, #fd0000));
  font-weight: 600;
  font-size: 1.1rem;
}
.searchBox button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
}
.navbar-toggler{
  border-radius: 50px;

}

.searchInput {
  border: none;
  background: none;

  outline: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  color: rgb(246, 247, 250);

  margin: 3rem 6rem 0 0.8rem;
  font-weight: 500;
  font-size: 2rem;
}
.img img {
  height: 10.5rem;
  width: 14rem;
}
li::marker {
  content: "🔹";
  font-size: 2rem;
}
.center {
  display: flex;
  justify-content: center;
  align-self: center;
}
.navigation {
  display: flex;
  
}
.navbar-nav {
  position: absolute;
  right: 0;
}

@media (max-width: 830px) {
  body {
    overflow: scroll;
    height: 200vh;
  }
  .nav {
    justify-content: center;
    margin-right: 0;
  }
  .searchBox {
    margin-top: 6.5rem;
    margin-left: 1rem;
  }
  .input {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
  }
  .center {
    flex-direction: column;
    align-items: center;
  }
  .items,
  .items1,
  .items2 {
    text-align: center;
  }
  li {
    margin: 2rem 0.8rem;
  }
}

@media (max-width: 600px) {
  body {
    overflow: scroll;
  }
  .input {
    margin-top: 6.25rem;
    margin-left: 0.5rem;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-right: 0;
  }
  .nav a {
    font-size: 1.5rem;
  }
  .searchBox {
    margin: 1rem auto;
  }
  .input {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
  }
  .center {
    flex-direction: column;
    align-items: center;
  }
  li {
    margin: 1rem 0.8rem;
    font-size: 1.5rem;
  }
  .navigation a {
    margin: 0;
  }
}

@media (max-width: 480px) {
  body{
    height: 65rem;
  }
  .img img {
    height: 7rem;
    width: 7rem;
  }
  .nav a {
    text-align: left;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0.5rem;
  }
  .searchBox {
    max-height: 4.3rem;
    max-width: 15rem;
    margin-left: 1rem;
  }
  .searchInput {
    font-size: 1rem;
  }

  li {
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
  }
  .input {
    margin-top: 5rem;
    margin-left: 0.5rem;
  }
  .Refresh {
    font-size: 0.9rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .searchButton {
    height: 4rem;
    width: 4rem;
    right: .5rem;
  }
}
a {
  font-size: 1rem;
}
