body{
    background: var(--gradient-2,linear-gradient(50deg , rgb(84, 8, 84) 2%, rgb(88, 88, 201) 95%));
    font-size: 1.5rem;

}
body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
h4{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}